.App {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:center;
  background-color: rgb(178, 247, 247);
  h1 {
    font-size: 30px;
  }
}







