.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.streamers-container {
    border: 1px solid black;
    width: 45%;
    max-height: 80vh;
    overflow-y: scroll;
}
